  body {
    background-color: rgb(40, 75, 99);
    color: var(--bs-light);
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
  }

  h2,
  h3 {
    font-weight: 500;
    color: rgb(244, 235, 217);
    text-transform: uppercase;
    letter-spacing: 8px;
    text-align: center;
  }
  h4 {
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
  }

  #objetivo:hover,
  #que-es:hover,
  #mision:hover,
  #vision:hover {
    transform: scale(1.05);
    transform: translate3d(8px, -10px, 0px);
  }

  #objetivo,
  #que-es,
  #vision,
  #mision {
    transition: transform 0.4s ease-out;
  }
  #colaboradores {
    color: rgb(162, 44, 41)
  }

  #valores {
    font-style: italic;
    font-weight: 600;
    text-align: center;
  }